/* Estilos anteriores */

.product {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.product img {
    width: 100%; /* La imagen ocupará todo el ancho del contenedor */
    max-height: 300px; /* Altura máxima para evitar imágenes demasiado grandes */
    object-fit: cover; /* Ajusta la imagen al contenedor manteniendo la relación de aspecto */
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.product h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.product p {
    font-size: 16px;
    margin-bottom: 15px;
}

/* Estilos para el botón del producto */
.product .btn {
    background-color: #4CAF50;
    color: #fff;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
}

.product .btn:hover {
    background-color: #45a049;
}
